# Set default behavior to automatically normalize to linux line endings.
* text=auto eol=lf encoding=utf-8

*.*ignore           text
*.bash              text
*.bat               text eol=crlf
*.cmd               text eol=crlf
*.json              text
*.md                text diff=markdown
*.ps1               text eol=crlf
*.sh                text
.editorconfig       text
.gitattributes      text
.gitconfig          text
.gitkeep            text
Dockerfile*         text
LICENSE             text

*.gif               binary
*.gifv              binary
*.ico               binary
*.jpeg              binary
*.jpg               binary
*.png               binary
*.webp              binary
